DATABASE_URL="postgresql://usuario:password@ep-cool-silence-123456.us-east-1.aws.neon.tech/bosqu?sslmode=require"
JWT_SECRET="tu_jwt_secret_super_secreto_cambiame"
BIBLE_API_URL="https://bible-api.com"
PORT=5000
NODE_ENV="development"
